@{
    ViewData["Title"] = "Grey's spinner Dolphins page";
}
<h1>Grey's Spinner Dolphins</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/A_spinner_dolphin_in_the_Red_Sea.jpg/330px-A_spinner_dolphin_in_the_Red_Sea.jpg" alt="Sample Image" style="display: block; margin-left: auto; margin-right: auto;" />
<p>
    The spinner dolphin (Stenella longirostris) is a small dolphin found in off-shore tropical waters around the world. It is famous for its acrobatic displays in which it rotates around its longitudinal axis as it leaps through the air.
    It is a member of the family Delphinidae of toothed whales.
    Spinner dolphins are small cetaceans with a slim build. Adults are typically 129–235 cm long and reach a body mass of 23–79 kg.[4] This species has an elongated rostrum and a triangular or subtriangular dorsal fin.[5] Spinner dolphins generally have tripartite color patterns. The dorsal area is dark gray, the sides light gray, and the underside pale gray or white.[6] Also, a dark band runs from the eye to the flipper, bordered above by a thin, light line. However, the spinner dolphin has more geographic variation in form and coloration than other cetaceans. In the open waters of eastern Pacific, dolphins have relatively small skulls with short rostra.[5] A dwarf form of spinner dolphin occurs around southeast Asia
</p>

<h3>Habitat</h3>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/SpinnerDolphinsoffKauai_1999-03-15.jpg/300px-SpinnerDolphinsoffKauai_1999-03-15.jpg" alt="Sample Image" style="display: block; margin-left: auto; margin-right: auto;" />
<p>Spinner dolphins live in all tropical and most subtropical waters around the world across the Atlantic, Pacific and Indian oceans. The most common subspecies is called Gray's spinner and is found throughout the spinner's tropical and subtropical range except in parts of tropical Asia and Eastern Tropical Pacific </p>
