@{
    ViewData["Title"] = "Omura's Whale Page";
}

<h3>Omura's Whale</h3>
<img src="https://www.lakpura.com/images/LK94009270-03-E-360-220.JPG?a" alt="Sample Image" style="display: block; margin-left: auto; margin-right: auto;" />
<p>
    Omura's whale or the dwarf fin whale (Balaenoptera omurai) is a species of rorqual about which very little is known.[3] Before its formal description, it was referred to as a small, dwarf or pygmy form of Bryde's whale by various sources.
    [4] The common name and specific epithet commemorate Japanese cetologist Hideo Omura.
</p>
<h3>Habitat</h3>
<p>Omura's whale are found in the Indo-Pacific and the Atlantic Oceans, primarily in shelf waters between 35° N and 35° S, with the majority of records in the tropics (between 23° 26' N and 23° 26' S).</p>