@{
    ViewData["Title"] = "Rusty Jobfish";
}

<h1>Rusty Jobfish</h1>
<img src="https://fishesofaustralia.net.au/images/image/ApharRutilansEOL.jpg" alt="Sample Image" style="display: block; margin-left: auto; margin-right: auto;" />
<p>Aphareus rutilans, the rusty jobfish, ironjaw snapper, red smalltooth job, silvermouth or small tooth jobfish, is a species of marine ray-finned fish, a snapper belonging to the family Lutjanidae. It is found in the Indo-Pacific region.</p>
<h3>Habitat</h3>
<p>Aphareus rutilans is found at depths between 10 and 330 m (33 and 1,083 ft) where it is found in reefs and areas with rocky bottoms, although it is most common at depths of 100 to 250 m (330 to 820 ft). It is a predatory species which feeds on fish, squid and crustaceans. Spawning was recorded as taking place in the spring and summer in Vanuatu, reaching its peak in November and December.</p>