
@{
    ViewData["Title"] = "Scissortail Sergeant Page";
}



<h3>Scissortail Sergeant</h3>
<img src="https://www.ozanimals.com/image/albums/australia/Fish/Abudefduf-sexfasciatus-2.jpg" alt="Sample Image" style="display: block; margin-left: auto; margin-right: auto;" />
<p>
    The scissortail sergeant or striptailed damselfish (Abudefduf sexfasciatus) is a large damselfish. It earns its name from the black-striped tail and sides, which are reminiscent of the insignia of a military Sergeant, being similar to those of the sergeant major damselfish. It grows to a length of about 16 centimetres (6.3 in).Scissortail sergeants live on coral reefs at depths of up to 15 metres (50 ft) in tropical reaches, often living in a group surrounding a single head of coral. They are found on reefs in the Indo-Pacific region, including the Red Sea.
    The fish feed upon the larvae of invertebrates, zooplankton, smaller fishes, crustaceans, and various species of algae. They are preyed upon by some members of the Labridae and Serranidae families. They lay their eggs in patches on a firm substrate and guard them vigorously till they hatch.
</p>

<h3>Habitat</h3>
<img src="https://lifg.australian.museum/Image/lxyaA4le.jpeg?version=full" alt="Sample Image" style="display: block; margin-left: auto; margin-right: auto;" />
<p>
    Scissortail sergeants are found in the Indo-Pacific including the Red Sea.[2] Areas scissortail sergeants can be found in around the Indian Ocean include the Red Sea, eastern Africa, Madagascar, Seychelles, the Persian Gulf, India, Sri Lanka, the Bay of Bengal, the Andaman Sea, Indonesia, and Australia.
    Pacific Ocean populations are found in the Great Barrier Reef around Australia, the Gulf of Thailand, Indonesia, the Philippines, Taiwan, Japan, and various Pacific islands all the way to Hawaii. A single record was reported recently (2017) in the eastern Mediterranean Sea near Athens, Greece, likely a result of aquarium release
</p>

<h3>Morphology:</h3>
<li>Average Size:15cm</li>
<li>Maximum Size: 18cm</li>
<li>Longetivity: 10 years</li>
<li>Shape: Ovoid</li>
<li>Pattern: Vertical Stripes</li>

<h3>Conservation Practices:</h3>
<li>Avoid damaging coral reefs – Corals are crucial habitats for marine species. Avoid touching or stepping on reefs when swimming or snorkeling.</li>
<li>Reduce plastic use – Minimize single-use plastics to prevent ocean pollution</li>
<li>Practice sustainable fishing – Ensure fishing methods are non-destructive and avoid overfishing.</li>
<li>Support marine protected areas – Advocate for and respect no-fishing zones, like Tubbataha Reef</li>
<li>Participate in beach cleanups – Help remove trash from coastal areas to maintain a healthy ecosystem</li>

